body {
	margin: 0;
	padding: 0;
	color: #484848;
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.container {
	max-width: 90vw;
	margin: 30px auto 90px;
}
